* {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  justify-items: center;
}

main {
  animation: fadeIn 100ms;
  min-height: 18rem;
}

.grid {
  position: relative;
  display: grid;
  width: min-content;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid.winning::after {
  content: "You win!";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  text-align: center;

  text-transform: uppercase;
  background-color: #cfce;
  color: #222;
  font-size: 4rem;
  font-weight: bold;

  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid * {
  border: 1px solid black;
}

.grid .grid {
  border-width: 2px;
}

.grid input {
  width: 2rem;
  height: 2rem;
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
}
.grid input::-webkit-outer-spin-button,
.grid input::-webkit-inner-spin-button {
  display: none;
}

.grid input:read-only {
  font-weight: bold;
  cursor: default;
}

.wrong-value {
  background-color: #fcc;
}
